# PyInstaller
dist/
build/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Ambientes virtuais
venv/
env/
.venv/

# Logs
*.log

# WebDriver Manager cache
.wdm/
